body {
  font-family: 'Lato', sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* HEADER */
header {
  background-color: #ecf0f1; /* from w3 flat ui colors:  flat-clouds */
  color: #2c3e50; /* from w3 flat ui colors:  midnight-blue */
  position: fixed;
  width: 100%;
  top:  0;
  height: 60px;
  z-index: 99;
}
.title-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.back {
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size:  18px;
  text-align: center;
  -webkit-flex: 1 1 275px;
  flex: 1 1 275px;
  margin-left: 20px;
  line-height: normal;
}

.title-container p {
  -webkit-flex: 1 1 85px;
  flex: 1 1 85px;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 4px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
  font-size: 0.8em;
}
@media (min-width: 474px) {
  h1 {
    font-size: 28px;
  } 
  .title-container p {
    font-size: 1em;
  }
}

/* APP */
svg {
 font-family: 'Lato', Arial,"Trebuchet MS",sans-serif; 
 font-size: 10px;
 display: block;
 max-width: 100%;
}
#viz {
  margin-bottom: 40px;
}
#buttons {
  position: fixed;
  top: 60px;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.w3-button {
  padding:  7px;
  font-size: 12px;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
  background-color: #000;
  opacity: 0.3;
  color: #fff;
}
.w3-button:hover {
  background-color: #000 !important;
  opacity: 0.3 !important;
  color: #fff !important;
}
.w3-button.active, .w3-button.active:hover {
  background-color: #3498db !important;
  opacity: 1 !important;
  color: #fff !important;
  cursor:  default;
}
#legend {
  width: 100%;
  margin: -5px auto 5px;
  position: fixed;
  top: 100px;
  background-color: #fff;
}
#legend svg {
  font-size: 11px;
  max-width: 240px;
  margin: 0 auto;
}
#alleoperatieveverrichtingenbigtotal {
  max-width: 650px;
  margin: 30px;
}
#chart-container {
  margin-top: 196px;
  text-align: center;
}
.regular-chart, .large-chart {
  width: 300px;
  display: inline-block;
}
#alleoperatieveverrichtingenbigtotal .axis {
  font-size: 12px;
}
.axis path {
  stroke: #bdc3c7;
}
.axis text {
  fill:  #95a5a6;
}
.chart-label {
  font-size: 10.1px;
  text-transform: uppercase;
  fill: #34495e;
  letter-spacing: 0.05em;
}
rect:hover {
  cursor: pointer;
}
#alleoperatieveverrichtingenbigtotal {
  display: none;
} 
#staaroperatie svg {
  margin-bottom: 0;
}
.modal-header {
  background-color: #3498db; /* from w3 flat ui colors:  peter river; */
  color: #fff;
}
.modal-header span {
  background-color: #ecf0f1; /* from w3 flat ui colors:  flat-clouds */
  opacity: 1;
  color: #000;
}
table {
  margin: 0 auto;
  max-width: 500px;
}
.w3-table-all {
  font-size: 8px !important;
}
.w3-table-all td, .w3-table-all th {
  text-align: right;
  padding: 4px;
}
.w3-table-all td:first-child {
  font-weight: 700;
  text-align: left;
}

@media (min-width: 360px) {
  .w3-table-all {
    font-size: 9px !important;
  }
  td:first-child {
    width: 150px;
  }
}
@media (min-width: 450px) {
  .w3-button {
    padding:  8px 16px;
    margin: 16px !important;
  }
  #legend {
    top: 120px;
  }
  #chart-container {
    margin-top: 220px;
  }
  .w3-table-all {
    font-size: 12px !important;
  }
  .w3-table-all td, .w3-table-all th {
    padding: 8px !important;
  }
}
@media (min-width:600px) {
  .w3-button {
    font-size: 15px;
  }
  #legend svg {
    max-width: 320px;
  }
  #alleoperatieveverrichtingen {
    display: none;
  }
  #alleoperatieveverrichtingenbigtotal {
    display: block;
    margin: 260px auto 0;
    padding: 0 16px;
  }
  #chart-container {
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  #viz {
    margin-left: 20px;
    margin-right: 20px;
  }
  #buttons, #chart-container {
    text-align: left;
  }
  #buttons, #legend {
    position: static;
    display: inline-block;
    margin-top: 60px;
    vertical-align: top;
  }
  #buttons {
    width: auto;
  }
  #legend {
    margin-left: 80px;
    width: 300px;
  }
  #legend svg {
    margin: 0;
  }
  #alleoperatieveverrichtingenbigtotal {
    margin: 30px;
  } 
}
