head
  block base
    base(href='/')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title #{title} – FrontendJR.nl
  meta(name='description', content= description)

  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700' rel='stylesheet')
  link(href='/styles/w3.css' rel='stylesheet')
  link(href='/styles/w3-theme-blue-grey.css' rel='stylesheet')
  link(href='/styles/custom.css' rel='stylesheet')
