header.w3-top
  .w3-bar.w3-theme-d1.w3-card
    a(class='w3-bar-item w3-button w3-padding-large' href='/')
      span(style='font-size:1.2em; padding-right:10px;') frontendJR.nl 
      span.w3-opacity freelance front-end ontwikkelaar Joop Rosier