/* voor leaflet-kaart */

#kaart-1 {
	height: 450px;
	margin-bottom: 20px;
}

.button-startpositie {
	border-radius: 4px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #fff;
}

.button-startpositie a {
	cursor: pointer;
	margin: 10px;
}

.button-startpositie a:hover {
	text-decoration: underline;
}

.button-startpositie.disabled a {
    color:#ccc;
}

.button-startpositie.disabled a:hover {
	text-decoration: none;
	border-bottom: 0;
    cursor: default;
}

.leaflet-popup {
	margin-bottom: 32px;
}


/* voor google maps kaart */

#button-startpositie-2 {
	border-radius: 4px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #fff;
	bottom: 6px !important;
}

#button-startpositie-2 a {
	cursor: pointer;
	margin: 0 10px;
	font-size: 13px;
	color:#444;
}

#button-startpositie-2 a:hover {
	text-decoration: underline;
}

#button-startpositie-2 a:visited {
	color: #444;
}

#button-startpositie-2.disabled a {
    color:#ccc;
}

#button-startpositie-2.disabled a:hover {
    text-decoration: none;
    cursor: default;
}

.labels {
   	background: none repeat scroll 0% 0% padding-box rgba(235, 235, 235, 0.81);
	border-color: rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;
	color: #111;
	display: block;
	font: bold 12px/20px "Helvetica Neue",Arial,Helvetica,sans-serif;
	padding: 1px 6px;
	position: absolute;
	-moz-user-select: none;
	pointer-events: none;
	white-space: nowrap;
 }

 .infowindow-htmldiv {
 	min-width: 130px;
	white-space:nowrap; 
 }

/* om vervorming van google map controls tegen te gaan */
 #kaart-1 img{max-width: inherit;}

 /* Buttons op de pagina */
 #button-leaflet, #button-google {
	margin: 0 6px 18px 0px;
	font-size: 1.2em;
	padding: 6px 30px;
 }

.vinkje {
	color: #9ACC46;
	font-weight: bold;
}

 #button-leaflet.unselected:hover, #button-google.unselected:hover {
	background-color: #999;
 }

#button-leaflet.unselected .vinkje, #button-google.unselected .vinkje {
	visibility: hidden;
 }
