extends ../post

block vars
 - var title = 'Operaties in het ziekenhuis'
 - var description = 'Bekijk per operatie hoe vaak deze jaarlijks is uitgevoerd.'
 - var category = 'Data in beeld'
 - var featuredImg = '/img/featured-img/operaties-200.jpg'

block articlecontent
  p Cijfers over 30 veel uitgevoerde operaties in de Nederlandse ziekenhuizen in de periode 1996-2010 in één oogopslag. Zo kun je allerlei data uit grote tabellen inzichtelijk maken.
  p.go-to-app-button-par
    a(href='/apps/operaties' class='w3-button w3-theme go-to-app-button') Bekijk de datavisualisatie
  p.article-featured-img
    a(href='/apps/operaties')
      img(src="img/featured-img/operaties-600.jpg")
  h2 Info
  p Klik in de app op een diagram als je de precieze cijfers in beeld wilt.
  p Zorgdata loopt altijd een paar jaar achter. Maar deze data is nu wel echt achterop geraakt. De registratie van deze data na 2010 gestopt.
  p Bron: 
    a(href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/80386ned/table?dl=5B1D') CBS, Operaties in het ziekenhuis
    |  (laat alleen 2010 zien, je kunt periode aanpassen).
  p De zorgverzekeraars hebben actuelere data maar die is heel anders geordend. Het verzamelen en geschikt maken van die data is een flinke klus, waaraan ik nog niet ben toegekomen.
  p Deze datavisualisatie is gemaakt met D3.
    