extends ../post

block vars
 - var title = 'Langdurige aandoeningen'
 - var description = 'Reeksen lijngrafieken over de meest voorkomende chronische aandoeningen.'
 - var category = 'D3'
 - var featuredImg = '/img/featured-img/langdurige-aandoeningen.jpg'

block articlecontent
  p CBS-data uit gezondheidsenquêtes. (Na 2010 verzamelt het CBS andere data over aandoeningen, niet meer vergelijkbaar met de data 2001-2009.)

  p Wil je de exacte cijfers zien? Ga met de muis over de grafieken.

  p
    a(href='/apps/langdurige-aandoeningen') Ga naar de app
      img(src="img/featured-img/langdurige-aandoeningen-600.jpg" class="article-featured-img")
