extends ../post

block vars
 - var title = 'Langdurige aandoeningen'
 - var description = 'Cijfers over de meest voorkomende chronische aandoeningen in beeld.'
 - var category = 'Data in beeld'
 - var featuredImg = '/img/featured-img/langdurige-aandoeningen-200.jpg'

block articlecontent
  p CBS-data uit gezondheidsenquêtes. Je ziet van 14 veel voorkomende chronische aandoeningen in hoe vaak ze voorkomen. Zo kun je data uit grote tabellen inzichtelijk maken.
  
  p.go-to-app-button-par
    a(href='/apps/langdurige-aandoeningen' class='w3-button w3-theme go-to-app-button') Bekijk de datavisualisatie
  p   
    img(src="img/featured-img/langdurige-aandoeningen-600.jpg" class="article-featured-img")

  p Wil je de exacte cijfers zien? Ga met de muis over de grafieken of tik er met je vinger op.

  p Vanaf 2010 verzamelt het CBS andere data over chronisch aandoeningen. Deze data is niet vergelijkbaar met de data van 2001-2009. Er is nu pas een paar jaar beschikbaar. Zodra er nieuwe data over een flink aantal jaren is, actualiseer ik de app.