extends ../post

block vars
 - var title = 'Eindredacteur aan het werk'
 - var description = 'Start de demo en volg stap voor stap het ambacht van een redacteur.'
 - var category = 'Animaties'
 - var featuredImg = '/img/featured-img/eindredacteur-aan-het-werk-200.jpg'

block articlecontent
  svg(style='position: absolute; width: 0; height: 0;', width='0', height='0', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')

  p Start de demo en volg stap voor stap het ambacht van een redacteur! Een speels appje om uit te proberen of het idee om zoiets te maken ook echt is uit te voeren.  
  p.go-to-app-button-par
    a(href='/apps/eindredacteur' class='w3-button w3-theme go-to-app-button') Bekijk de animatie
  p
    img(src="img/featured-img/eindredacteur-aan-het-werk-600.jpg" class="article-featured-img")

