extends ../post

block vars
 - var title = 'Verkiezings\u00ADuitslagen'
 - var description = 'Interactieve kaart met uitslagen gemeente\u00ADraads\u00ADverkiezingen in de vier grote steden.'
 - var category = 'Interactieve kaarten'
 - var featuredImg = '/img/featured-img/verkiezingsuitslagen-200.jpg'

block articlecontent
  p
    | De uitslagen van de gemeenteraadsverkiezingen 2014 in de vier grote steden op buurtniveau. Zo'n kaart laat direct zien waar in de stad de meeste of juist de minste stemmers van de politieke partijen zitten.

  p.go-to-app-button-par
    a(href='/apps/verkiezingsuitslagen' class='w3-button w3-theme go-to-app-button') Bekijk de interactieve kaart
  p.article-featured-img
    a(href='/apps/verkiezingsuitslagen')
      img(src="img/featured-img/verkiezingsuitslagen-600.jpg")

  h2 Info
  p
    | Je kunt in de app switchen tussen het percentage stemmen en aantal stemmen. Met het percentage kun je de politieke kleur van buurten vergelijken. Met het aantal stemmen zie je welke buurten het meeste gewicht in de schaal leggen in de uitslag van de stad.
  p
    | Buurten zonder stembureaus (bedrijvengebieden, havens, parken enz.) zijn op de kaart wit.
  p
    | Kiezers gaan niet allemaal in hun eigen buurt naar het stembureau. In Utrecht bijvoorbeeld was de opkomst in het centrum hoger dan elders (75,4% tegen 54,2%) doordat veel kiezers uit andere wijken daar stemden. En in Amsterdam waren er bijvoorbeeld veel stemmers in Sloterdijk, waar veel kantoren zijn en op het station een stembureau was.
  p
    | Op de kaart van Rotterdam is een deel van het haven- en industriegebied weggesneden om de kaart minder breed te maken. Hoek van Holland en Rozenburg liggen hierdoor los van hun omgeving liggen en zijn oostwaarts opgeschoven.
  p Als basiskaart is de wijk- en buurtkaart 2013 van CBS/Kadaster gebruikt.
  p Deze interactieve kaart is gemaakt met D3 en QGIS.