extends ../post

block vars
 - var title = 'Valleilijn'
 - var description = 'Valleilijn.nl geeft reizigersinformatie over de OV-verbinding Amersfoort – Ede – Wageningen.'
 - var category = 'WEBSITES'
 - var featuredImg = '/img/featured-img/valleilijn-200.jpg'

block articlecontent
  p Sinds 2005 onderhoud ik voor de provincie Gelderland de website valleilijn.nl. Ik schrijf de teksten en zorg zonodig voor geschikte afbeeldingen. In 2014 was de site aan vernieuwing toe. Ik heb toen in opdracht van de provincie een geheel nieuwe site gebouwd in Wordpress.
  p
    a(href='http://www.valleilijn.nl') Ga naar Valleilijn.nl
      p
        img(src='/img/featured-img/valleilijn-300.jpg')
