extends ../post

block vars
 - var title = 'Uiterwaarden'
 - var description = 'Interactieve kaart met waterhoogten in de uiterwaarden. Laat het water stijgen en en weer zakken.'
 - var category = 'Animaties'
 - var featuredImg = '/img/featured-img/uiterwaarden-200.jpg'

block articlecontent
  .intro
    p Bij extreem hoog water lopen de uiterwaarden langs de grote rivieren onder. De kaart laat voor het gebied ten oosten en noordoosten van Tiel zien hoe enorm breed de rivieren dan worden. Zo schuif je eigenlijk twee kaarten ineen die via een animatie in elkaar overgaan.
    p Deze animatie is gemaakt met D3 en QGIS.
  #dataviz
    #zoombutton
    #hooglaagbuttons

block footerCss
  link(href='/apps/uiterwaarden/uiterwaarden.css' rel='stylesheet')
block footerScripts
  script(src='/js/d3/topojson.min.js')
  script(src='/js/d3/d3.v3.min.js')
  script(src='/apps/uiterwaarden/uiterwaarden.js')