extends ../post

block base
  base(href='/apps/locaties-op-de-kaart-googlemaps/')

block viewport
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

block otherHeadStuff
  style header {z-index: 1500 !important;}

block vars
 - var title = 'Locaties op de kaart (2)'
 - var description = 'Waar is er een supermarkt, een bakker, een toko? Je ziet het op een interactieve kaart. Gemaakt met Google Maps.'
 - var category = 'Interactieve kaarten'
 - var featuredImg = '/img/featured-img/locaties-op-de-kaart-googlemaps-200.jpg'

block articlecontent
  p Een kaart met de locaties waarin je website-bezoekers geïnteresseerd zijn. Dat kan van alles zijn. In dit geval laat de kaart zien waar je een supermarkt, een bakker, een toko, enzovoort vindt in mijn woonplaats, Wageningen. 
  p Deze interactieve kaart is gemaakt met Google Maps en QGIS.
  #viz

block footerCss
  link(href='locaties-op-de-kaart-googlemaps.min.css' rel='stylesheet')
block footerScripts
  script(type='text/javascript' src='locaties-op-de-kaart-googlemaps.min.js')
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk4Sr8DjsEUoniIWsBN66LzMcFl5TvVzk&callback=initMap&v=3")
