extends ../post

block vars
 - var title = 'Public Space'
 - var description = 'Public Space is een onafhankelijke denktank gericht op maatschappelijk ondernemen.'
 - var category = 'WEBSITES'
 - var featuredImg = '/img/featured-img/publicspace-200.jpg'

block articlecontent
  p Voor Public Space bouwde ik een Wordpress-website. De site gebruikt een kant-en-klaar Wordpress thema waaraan ik verschillende aanpassingen en uitbreidingen heb toegevoegd, zowel in PHP als in CSS.
  p
    a(href='http://www.publicspace.nl') Ga naar PublicSpace.nl
      p
        img(src='/img/featured-img/publicspace-300.jpg')
