extends ../post

block base
  base(href='/2016-07-13-welke-gemeenten-doen-mee')  

block vars
  - var title = 'Welke gemeenten doen mee?'
  - var description = 'App om bij te houden welke gemeenten meedoen aan een project.'
  - var category = 'Webapps'
  - var featuredImg = '/img/featured-img/welke-gemeenten-doen-mee-200.jpg'


block articlecontent
  .intro
    p App voor projectmanagement. Hiermee kun je bijhouden welke gemeenten meedoen aan het project. De gebruiker update met zo'n app zelf de kaartdata.

  p.go-to-app-button-par
    a(href='/apps/welke-gemeenten-doen-mee' class='w3-button w3-theme go-to-app-button') Ga naar de app

  p
    img(src="img/featured-img/welke-gemeenten-doen-mee-600.jpg" class="article-featured-img")

  h2 Info
  p
    | In deze demo worden de data opgeslagen in de browser. Je kunt de data downloaden als csv-bestand, om te gebruiken in Excel. (Downloaden kan op pc, niet op mobiel apparaat.) In de echte toepassing kan de data op de server worden opgeslagen.

block footerCss

block footerScripts

