extends ../post

block base
  base(href='/2016-09-05-kopie-id')  

block vars
  - var title = 'KopieID voor desktop'
  - var description = 'Gebaseerd op de KopieID-app van de Rijksoverheid. Met deze variant maak je op desktop een kopie van je paspoort met afgeschermd burgerservicenummer.'
  - var category = 'ANGULAR'
  - var featuredImg = '/img/featured-img/kopieID.jpg'


block articlecontent
  .intro
    p 
      |De Rijksoverheid heeft een handige app voor de smartphone waarmee je een kopie van je paspoort of ID maakt met afgeschermd burgerservicenummer (
      a(href='https://play.google.com/store/apps/details?id=com.milvum.kopieid') KopieID GooglePlay, 
      a(href='https://itunes.apple.com/us/app/kopieid/id932970330?mt=8') KopieID iTunes
      |). Maar voor desktop bestaat er niet zoiets. Met de app hieronder kun je van een afbeelding of pdf van je paspoort die op je desktop hebt, het burgerservicenummer afschermen. Ook kun je tekst in een watermerk toevoegen waarin je zet voor wie de kopie bestemd is.
    p
      a(href='https://github.com/joopzodra/kopieID') Bekijk de broncode van de app op GitHub.
    p
      |NB. Deze app is bedoeld voor desktop en heeft dus geen responsive design voor smartphone of tablet.
    root
    div.loading-spinner

  p
    a(href='/apps/kopieID') Ga naar de app
      img(src="img/featured-img/kopieID-600.jpg" class="article-featured-img")

