extends ../post

block base
  base(href='/2016-09-05-kopie-id')  

block vars
  - var title = 'KopieID voor desktop'
  - var description = 'Variant op de KopieID-app van de Rijksoverheid. Je kunt op mobiel én desktop een kopie van je paspoort met afgeschermd burgerservicenummer maken.'
  - var category = 'Webapps'
  - var featuredImg = '/img/featured-img/kopieID-200.jpg'


block articlecontent
  .intro
    p 
      |De Rijksoverheid heeft een handige app voor je mobiel waarmee je een kopie van je paspoort of ID maakt met afgeschermd burgerservicenummer (
      a(href='https://play.google.com/store/apps/details?id=com.milvum.kopieid') KopieID GooglePlay, 
      a(href='https://itunes.apple.com/us/app/kopieid/id932970330?mt=8') KopieID iTunes
      |). Maar voor desktop bestaat er niet zoiets. Met de app hieronder kun je op een afbeelding van je paspoort die op je desktop of mobiel hebt, het burgerservicenummer afschermen. Het watermerk kun je aanpassen.

  p.go-to-app-button-par
    a(href='/apps/kopieID' class='w3-button w3-theme go-to-app-button') Ga naar de app
  p
   img(src="img/featured-img/kopieID-600.jpg" class="article-featured-img")
  p
    |De app is gemaakt met Angular. 
    a(href='https://github.com/joopzodra/kopieID') Bekijk de broncode van de app op GitHub.

