extends ../post

block base
  base(href='/2017-02-14-mijn-uitgaven/')  

block vars
  - var title = 'MijnUitgaven'
  - var description = 'Ionic 2 demo: huishoudboekje. Overzicht van maandelijkse uitgaven, geordend in verschillende rubrieken.'
  - var category = 'Hybride apps'
  - var featuredImg = '/img/featured-img/mijn-uitgaven-200.jpg'


block articlecontent
  .intro
    p 
      |Een aanzet voor een digitaal huishoudboekje.
    p.go-to-app-button-par
      a(href='/apps/mijn-uitgaven' class='w3-button w3-theme go-to-app-button') Bekijk app in de browser (2,3 MB)
    p
     img(src="/img/featured-img/mijn-uitgaven-600.jpg" class="article-featured-img")
    h2 Info
    p
      |Bij een volwaardige app zou je data automatisch vanuit je bankrekening willen laden. Maar bankgegevens krijg je niet zo maar in een willekeurige app geladen. Bij deze app kun je daarom alleen handmatig uitgaven toevoegen. Ook zit er al allerlei voorbeeld-data al in de app geladen.
    p
      |In de app kun je afzondelijke uitgavenposten onderbrengen in rubrieken. Er zijn 18 verschillende rubrieken beschikbaar. Je kunt de rubrieksnamen veranderen via het menu.
    p
      |Een hybride app is een volwaardige app voor een telefoon of tablet. De app werkt op zowel iOS (iPhone, iPad) als op Android. Ik heb hem nu alleen beschikbaar gesteld via de Google Play Store, voor Android dus. (Dat bespaart me de kosten voor de AppStore van Apple.)
    p
      |Je kunt van een hybride app alvast een indruk krijgen in de browser, ook al is hij daar niet helemaal goed op afgestemd. Hier en daar is de vormgeving dan ook niet perfect als je hem in de browser bekijkt. De app ook relatief groot vanwege de functionaliteiten die op mobiele apparaten zijn afgestemd: circa 2,3 MB.
    p
      |De app is gemaakt met Ionic en D3. 
      a(href='https://github.com/joopzodra/MijnUitgaven') Bekijk de broncode van de app op GitHub.
    p
      a(href='https://play.google.com/store/apps/details?id=com.ionicframework.mijnuitgaven371450') Installeer de app op je Android telefoon of tablet vanuit Google Play Store.

block footerScripts
  style(type='text/css').
    .go-to-app-button-par{
      max-width: 400px;
    }