extends ../post

block vars
  - var title = 'Dagelijks vers'
  - var description = 'Een app die je continue nieuwe porties dichtregels voorschotelt.'
  - var category = 'Webapps'
  - var featuredImg = '/img/featured-img/dagelijks-vers-200.jpg'

block articlecontent
  .intro
    p
      |Een lijst-app waarvan de updates geen berichtjes zijn maar versregels: elke 15 seconden een nieuw fragmentje van vier regels uit een gedicht.
    p Je kunt desgewenst fragmentjes opslaan in de browser. De bewaarde fragmentjes staan onder 'Voorraad'.
    p.go-to-app-button-par
      a(href='/apps/dagelijks-vers' class='w3-button w3-theme go-to-app-button') Ga naar de app
    p.article-featured-img
      a(href='/apps/dagelijks-vers')
        img(src="/img/featured-img/dagelijks-vers-600.jpg")
    h2 Info
    p
      |De dichtregels worden willekeurig gekozen uit de gedichten die met de 
      a(href='/2018-03-06-vershouder') Vershouder app
      |  zijn opgeslagen een database.
    p In de database staan maar enkele gedichten, bovendien zijn het gedichten uit de periode van ongeveer 1900-1950 omdat latere gedichten niet vrij te gebruiken zijn. Je ziet in de app dus veel fragmenten uit dezelfde gedichten.
    p De verse aanvoer van fragmenten gebeurt via een socket-verbinding met de backend.
    p De 'Dagelijks vers' app is gemaakt met Vue.
    p
      a(href='https://github.com/joopzodra/dagelijks-vers') Bekijk de broncode op Github.

block footerScripts
