extends ../post

block base
  base(href='/2018-03-06-dagelijks-vers/')  

block vars
  - var title = 'Dagelijks vers'
  - var description = 'Een app die je elke dag een lekker behapbare portie versregels voorschotelt.'
  - var category = 'Webapps'
  - var featuredImg = '/img/featured-img/vershouder-200.jpg'


block articlecontent
  .intro
    p 
      |Voor een later te bouwen app heb ik een database op de server nodig met gedichten. De app die je op deze pagina vindt, is bedoeld om die database te beheren. Je kunt ermee gedichten op de server uploaden, wijzigen of verwijderen. Omdat dichters hun gedichten graag 'verzen' noemen, heet deze app 'Vershouder'.   
    p Om de app te bekijken kun je een gebruikernaam en wachtwoord kiezen. Met je account kun je naar hartelust van alles uitproberen en overhoop halen.
    p.go-to-app-button-par
      a(href='/apps/dagelijks-vers' class='w3-button w3-theme go-to-app-button') Ga naar de app
    p.article-featured-img
      a(href='/apps/vershouder')
        img(src="/img/featured-img/vershouder-600.jpg")
    h2 Info
    p
      |De app is gemaakt met Vue. 
      a(href='https://github.com/joopzodra/vershouder') Bekijk de broncode van de app op GitHub.

block footerScripts
